<!DOCTYPE html>
<html lang="ja">
<head>
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width,initial-scale=1" />
 <title>動画フォルダリスト</title>
 <!-- BootstrapのCSS読み込み -->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
 <style>
   ul {
     margin-left:3%;
   }
   pre {
     padding:5px;
     border: solid thin silver;
     border-radius: 6px;
     margin-left:3%;
     margin-right:3%;
   }
   h2 {
     margin-top:10px;
   }
   h3 {
     margin-top:7px;
   }
 </style>
</head>

<body>
 <!-- ヘッダー -->
 <header class="container">
  <h1 class="text-center p-5 border border-warning rounded">動画フォルダリスト</h1>
 </header>

 <!-- 本文 -->
 <article class="container">
   <form class="form" method="POST">
     <div class="mt-5 mb-3">
       <label class="form-label fs-3">folders.txt
       <textarea name="folders" class="form-control" cols="120" rows="8"><%= @folders %></textarea>
       </label>
     </div>
     <div class="mb-3">
       <button class="btn btn-primary">更新する</button>
       <button class="btn btn-info" onclick="javascript:window.close()">閉じる</button>
     <div>
     <div class="mt-5 text-warning fs-3"><%= @message %></div>
   </form>
 </article>
 
 <!-- フッター -->
 <footer class="container">
  <p class="text-center mt-4"><a href="#top">TOP</a></p>
  <p>&nbsp;</p>
 </footer>
 <!-- BootstrapのJS読み込み -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
